.elective-instruction-img {
    float: right;
    width: 214px;
    max-width: 40vw;
    border: 2px solid black;
}

.clearfix {
    clear: both;
}

.elective-paster {
    border-radius: .5em;
    background-color: white;
    border: 2px dashed black;
    overflow: auto;
}

.elective-paster-main:empty::before {
    content: '（粘贴到这里）';
    opacity: .6;
}
.elective-paster-main {
    height: 10em;
}

.not-imported-tip {
    margin: 1em 0;
    opacity: .6;
}