.elective-instruction-img {
    float: right;
    width: 214px;
    max-width: 40vw;
    border: 2px solid black;
}

.clearfix {
    clear: both;
}

.elective-paster {
    height: 10em;
    border-radius: .5em;
    background-color: white;
    border: 2px dashed black;
    overflow: auto;
}
.elective-paster:empty::before {
    content: '（粘贴到此处）';
    line-height: 100%;
    opacity: .6;
}

.elective-iframe-holder {
    min-width: 1200px;
    overflow: auto;
}
.elective-iframe {
    border: 0;
    width: 100%;
    height: calc(100vh - 5em);
    overflow: auto;
}