.main-margin {
    margin: 1em auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 900px;
}

@media screen and (min-width: 769px) {
    .next-to-sider {
        margin-left: 200px;
    }
}
